[submodule "private"]
	path = private
	url = git@bitbucket.org:galaxia4eva/private-notes.git
[submodule ".obsidian"]
	path = .obsidian
	url = git@bitbucket.org:galaxia4eva/.obsidian.git
[submodule "dnsguide"]
	path = dnsguide
	url = git@github.com:EmilHernvall/dnsguide.git
